<?xml version="1.0"?>
<!-- Launch me -->
<launch>

    <node name="imu0" pkg="um7" type="um7_driver" respawn="true" output="screen">
	<param name="port" value="/dev/um7"/>
	<param name="baud" value="115200"/>
	<param name="frame_id" value="imu0"/>
	<param name="update_rate" value="250"/>  <!--240mapsto200-->
	<param name="mag_updates" value="false"/>
	<param name="quat_mode" value="true"/>
	<param name="zero_gyros" value="true"/>
	<!--
	<param name="covariance" value="99999.9 0 0 0 99999.9 0 0 0 99999.9"/>
	<param name="enu_axes_order" value="0 1 2"/>
	<param name="enu_axes_fix" value="1 1 1"/>
    -->
    </node>

</launch>